# Folders #
data/abdb-de-all-affairs-50-0.csv
data/abdb-de-all-affairs-50-0_new.csv
data/votations_2018.csv
data/data_conseil_national.zip
data/abdb-de-all-affairs-48-0.csv
data/abdb-de-all-affairs-49-0.csv
data/49leg/

Final_Project/adjacencies/
Final_Project/node_indices/
Final_Project/summaries/
Final_Project/X_train.npy
Final_Project/y_train.npy
Final_Project/checkpoints/
Final_Project/*.csv

/copypasta/
milestone1/.ipynb_checkpoints/
milestone2/.ipynb_checkpoints/
milestone3/.ipynb_checkpoints/
milestone4/.ipynb_checkpoints/
milestone2/suppl_func.py
milestone4/


Final_Project/.ipynb_checkpoints/
Final_Project/lib/
Final_Project/feature_learning
Final_Project/untitled.ipynb

# Pycache
*.cypthon-36
__pycache__/
*.png